<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

    <header th:fragment="common-header" style="width: 100%; padding: 10px 0; background-color: transparent;">
    <div class="row">
		<div class="col-6">
			<a href="/bidlist/list">Bid List</a>&nbsp;|&nbsp;
			<a href="/curvepoint/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
			<a href="/rulename/list">Rule</a>
		</div>
		<div class="col-6 text-right">
			Logged in user: <b th:inline="text"  class="user"> [[${remoteUser.getUsername}]] </b>
			<form th:action="@{/logout}" method="POST">
				<input type="submit" value="Logout"/>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			</form>
		</div>
	</div>
    </header>

</body>
</html>